@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  @apply bg-background text-text; /* cfr dans tailwind.config.ts */
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

:root {
  font-family: Gabarito, Gloria Hallelujah, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 100%;
  margin: auto;
  padding: 2rem;
  text-align: center;
}






